<h1>Lista de departamentos</h1>

<button mat-raised-button color="primary" routerLink="/taskdepartments/new">
  Create
  <mat-icon>add</mat-icon>
</button>

<!--dataSource muestra la info de las columnes-->
<table mat-table [dataSource]="taskdepartments" class="mat-elevation-z8">
  <!--idDepartment es el mismo de json-->
  <ng-container matColumnDef="idDepartment">
    <th mat-header-cell *matHeaderCellDef> Identificador (Id) </th>
    <td mat-cell *matCellDef="let taskdepartment"> {{taskdepartment.idDepartment}} </td>
  </ng-container>

  <!--nameDepartment es el mismo de json-->
  <ng-container matColumnDef="nameDepartment">
    <th mat-header-cell *matHeaderCellDef> Nombre de departamento </th>
    <td mat-cell *matCellDef="let taskdepartment"> {{taskdepartment.nameDepartment}} </td>
  </ng-container>

  <ng-container matColumnDef="actions">
    <th mat-header-cell *matHeaderCellDef> Acciones </th>
    <td mat-cell *matCellDef="let taskdepartment">

      <button mat-raised-button color="primary" [routerLink]="['/taskdepartments', taskdepartment.idDepartment, 'detail']">
        Ver
        <mat-icon>visibility</mat-icon>
      </button>

      <button mat-raised-button color="accent" [routerLink]="['/taskdepartments', taskdepartment.idDepartment, 'edit']">
        Editar
        <mat-icon>edit</mat-icon>
      </button>
      <!--Funciona el delete-->
      <button mat-mini-fab color="warn" (click)="onDelete(taskdepartment.idDepartment)">
       
        <mat-icon>delete_forever</mat-icon>
      </button>

    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="columnNames"></tr>
  <tr mat-row *matRowDef="let row; columns: columnNames;"></tr>
</table>


