<div id="titulo">
  <!--<strong *ngIf="user">{{user.name}}</strong>-->
  <!--<h1>Titulo de Angular</h1>-->
  <img src="../assets/img/default.png" alt="logo" />
</div>

<div id="body">
  <div id="izquierda">
    <button mat-raised-button color="primary" [routerLink]="['/']" class="home">
      Home
    </button>

    <button mat-raised-button color="primary" [routerLink]="['/projects']" class="projects">
      Proyectos
    </button>

    <button mat-raised-button color="primary" [routerLink]="['/tasks']" class="tasks">
      Tareas
    </button>

    <button mat-raised-button color="primary" [routerLink]="['/users']" class="users">
      Usuarios
    </button>

    <button mat-raised-button color="primary" [routerLink]="['/departments']" class="depaartments">
      Departamentos
    </button>

    <!--<button mat-raised-button color="accent" [routerLink]="['/login']">
    Login
  </button>-->
    <!--<button mat-raised-button color="warn" *ngIf="user" [routerLink]="['/']">
    Logout
  </button>-->
  </div>

  <div id="derecha">
    
  </div>

  <div id="central">
    <!--aqui es donde se visualiza la pagina creada-->
    
    <router-outlet></router-outlet>
  </div>

</div>
