<div id="titulo">

  <!--<h1>Titulo de Angular</h1>-->
  <img src="../assets/img/default.png" alt="logo" />
</div>

<div id="body">
  <div id="izquierda">

    <button mat-raised-button color="primary" [routerLink]="['/projects']">
      Proyectos
    </button>

    <button mat-raised-button color="primary" [routerLink]="['/tasks']">
      Tareas
    </button>

    <button mat-raised-button color="primary" [routerLink]="['/users']">
      Usuarios
    </button>

    <button mat-raised-button color="primary" [routerLink]="['/taskdepartments']">
      Departamento
    </button>

  </div>

  <div id="derecha">
    
  </div>

  <div id="central">
    <!--aqui es donde se visualiza la pagina creada-->
    <router-outlet></router-outlet>
  </div>

</div>
