<p>taskdepartment-form works!</p>
<mat-card class="example-card" *ngIf="error">
  Se ha producido un error, Inténtalo de nuevo más tarde.
</mat-card>

<form class="example-form" [formGroup]="editForm" (ngSubmit)="save()">

  <mat-form-field class="example-full-width" appearance="fill">
    <mat-label>Id</mat-label>
    <!--iddepartment igual al json-->
    <input matInput type="number" formControlName="idDepartment">
  </mat-form-field>

  <mat-form-field class="example-full-width" appearance="fill">
    <mat-label>Nombre del departamento</mat-label>
    <!--nameDepartment igual al json-->
    <input matInput formControlName="nameDepartment">
  </mat-form-field>

  <button mat-raised-button color="primary" type="submit">Guardar</button>
  <button mat-raised-button color="warn" routerLink="/taskdepartments">Cancelar</button>
</form>
