<h1>Detalle de un proyecto</h1>

<mat-card class="example-card" *ngIf="project">
  

  <div class="custom-margin">
    <mat-card-content>
      <p><strong>Id:</strong> {{project.idProject}}</p>
    </mat-card-content>

    <mat-card-content>
      <p><strong>Nombre:</strong> {{project.nameProject}}</p>
    </mat-card-content>

    <mat-card-content>
      <p><strong>Status:</strong> {{project.statusProject}}</p>
    </mat-card-content>

  </div>
  
  <mat-divider inset></mat-divider>

  <mat-card-actions>
    <button mat-raised-button color="accent" [routerLink]="['/projects', project.idProject, 'edit']">Editar</button>
    <button mat-raised-button color="warn" (click)="onDelete(project.idProject)">Borrar</button>
    <button mat-raised-button routerLink="/projects">Volver</button>
  </mat-card-actions>

  <mat-card-footer>
    <small></small>
  </mat-card-footer>
</mat-card>

<mat-card class="example-card" *ngIf="!project">
  <mat-card-content>
    <p>Cargando proyecto....</p>
  </mat-card-content>
</mat-card>
