<h2 *ngIf="!task">Crear nueva tarea</h2>
<h2 *ngIf="task">Editar tarea</h2>

<mat-card class="example-card" *ngIf="error">
  Se ha producido un error, Inténtalo de nuevo más tarde.
</mat-card>

<form class="example-form" [formGroup]="editForm" (ngSubmit)="save()">
  <mat-form-field class="example-full-width" appearance="fill">
    <mat-label>Id</mat-label>
    <input matInput type="number" formControlName="id">
  </mat-form-field>

  <mat-form-field class="example-full-width" appearance="fill">
    <mat-label>Nombre</mat-label>
    <input matInput formControlName="name">
  </mat-form-field>


  <!--<mat-form-field class="example-full-width" appearance="fill">
    <mat-label>Fecha</mat-label>
    <input matInput formControlName="date">
  </mat-form-field>-->

  <mat-form-field class="example-full-width" appearance="fill">
    <mat-label>Fecha</mat-label>
    <input matInput [matDatepicker]="picker" formControlName="date">
    <mat-hint>DD/MM/YYYY</mat-hint>
    <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
    <mat-datepicker #picker></mat-datepicker>
  </mat-form-field>


  <mat-form-field appearance="fill">
    <mat-label>Status</mat-label>
    <mat-select formControlName="status">
      <mat-option [value]="0">SIN_COMENZAR</mat-option>
      <mat-option [value]="1">EN_PROCESO</mat-option>
      <mat-option [value]="2">FINALIZADA</mat-option>
    </mat-select>
  </mat-form-field>


  <mat-form-field appearance="fill">
    <mat-label>Importance</mat-label>
    <mat-select formControlName="importance">
      <mat-option [value]="0">BAJA</mat-option>
      <mat-option [value]="1">MEDIA</mat-option>
      <mat-option [value]="2">ALTA</mat-option>
    </mat-select>
  </mat-form-field>


  <!--<mat-form-field class="example-full-width" appearance="fill">
    <mat-label>Importance</mat-label>
    <input matInput formControlName="importance">
  </mat-form-field>-->

  <!--<mat-form-field class="example-full-width" appearance="fill">
    <mat-label>Project</mat-label>
    <input matInput formControlName="project">
  </mat-form-field>-->
  <!--<mat-form-field class="example-full-width" appearance="fill">
    <mat-label>User</mat-label>
    <input matInput formControlName="user">
  </mat-form-field>-->
  <!--<mat-form-field class="example-full-width" appearance="fill">
    <mat-label>Department</mat-label>
    <input matInput formControlName="department">
  </mat-form-field>-->


  <button mat-raised-button color="primary" type="submit">Guardar</button>
  <button mat-raised-button color="warn" routerLink="/tasks">Cancelar</button>
</form>
