<h1>Detalle de una tarea</h1>

<mat-card class="example-card" *ngIf="task">
  <mat-card-title>{{task.name}}</mat-card-title>

  <div class="custom-margin">
    <mat-card-content>
      <p><strong>Id:</strong> {{task.id}}</p>
    </mat-card-content>

    <mat-card-content>
      <p><strong>Date:</strong> {{task.date | date}}</p>
    </mat-card-content>

    <mat-card-content>
      <p><strong>Status:</strong> {{task.status | taskStatus}}</p>
    </mat-card-content>


    <!--<mat-card-content [ngSwitch]="task.status">
      <p *ngSwitchCase="0"><strong>Status: </strong> SIN_COMENZAR </p>
      <p *ngSwitchCase="1"><strong>Status: </strong> EN_PROCESO </p>
      <p *ngSwitchCase="2"><strong>Status: </strong> FINALIZADA </p>
  </mat-card-content>-->


    <mat-card-content>
      <p><strong>Importance:</strong> {{task.importance | taskImportance}}</p>
    </mat-card-content>

    <mat-card-content>
      <p><strong>Project:</strong> {{task.project}}</p>
    </mat-card-content>

    <mat-card-content>
      <p><strong>User:</strong> {{task.user}}</p>
    </mat-card-content>

    <mat-card-content>
      <p><strong>Department:</strong> {{task.department}}</p>
    </mat-card-content>

  </div>

  <mat-divider inset></mat-divider>

  <mat-card-actions>
    <button mat-raised-button color="accent" [routerLink]="['/tasks', task.id, 'edit']">Editar</button>
    <button mat-raised-button color="warn" (click)="onDelete(task.id)">Borrar</button>
    <button mat-raised-button routerLink="/tasks">Volver</button>
  </mat-card-actions>

  <mat-card-footer>
    <small></small>
  </mat-card-footer>
</mat-card>

<mat-card class="example-card" *ngIf="!task">
  <mat-card-content>
    <p>Cargando tarea....</p>
  </mat-card-content>
</mat-card>

